* {
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative; /* Ensure body is relatively positioned */
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    min-height: 100vh; /* Set height to at least full viewport height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    margin-top: 50px;
    width: 300px;
    box-shadow: 0px 0px 20px 10px #0044ff;
    padding: 50px;
    border-radius: 30px;
    text-align: center;
    position: relative; /* Ensure container is relatively positioned */
}

h1 {
    margin-bottom: 40px;
}

input {
    border: none;
    border-bottom: 1px solid #0044ff;
    width: 50%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

button {
    width: 100%;
    height: 35px;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    background-color: #0044ff;
    color: #fff;
    font-size: 22px;
}

#result {
    margin-top: 20px;
    font-size: 25px;
}

/* Style for images */
.left-image, .right-image {
    position: absolute;
    top: 50%;
    width: 100px; /* Adjust width as needed */
    transform: translateY(-50%); /* Center vertically */
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.left-image:hover, .right-image:hover {
    transform: translateY(-50%) scale(1.2); /* Enlarge the image when hovered */
    z-index: 999; /* Ensure image is on top of other content */
    cursor: pointer; /* Show pointer cursor on hover */
}

.left-image {
    width: 500px; /* Adjust width according to your preference */
    left: 20px; /* Adjust left position as needed */
}

.right-image {
    width: 500px; /* Adjust width proportionally */
    right: 20px;
}

/* Source text style */
.source {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.source img {
    width: 20px; /* Adjust size as needed */
    margin-left: 5px; /* Adjust margin as needed */
}

/* CSS for the new button */
#healthCentersBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px; /* Adjust padding to make the button smaller */
    font-size: 14px; /* Adjust font size */
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button appears above other elements */
    width: auto; /* Ensure the button's width adjusts to its content */
}
